# Titanic Notebook

Kristen Labrie <br>
CSCI 191T <br>
Assignment #2 <br>
2/25/2018 <br>


I had a very hard time getting things to run in my notebook and understanding where the problems were. First I looked at the tutorial notebook that is provided on Kaggle's website and copied all the imports they used. I output a sample of 6 rows and columns of my training data. When I would try to run my classifier i would constantly get "cant covert string to float" so after a few hours of messing with different things to see what would work, i finally just dropped everything with a string value in the data. I filled in the remaining Null values and got my classifier to finally work. Also instead of using the decision tree classifier, on Kaggle's tutorial they explained how randomForest classifiers were yielding higher results than any other classifier used, so i decided to go with the randomForest. I know only deleting the data with string values isnt much of a classifier but it was the only thing i was able to get to work; there is much room for improvement and I already have a few ideas as to how i can better optimize it!

In [245]:
# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier

In [246]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

combine = [train_df, test_df]

In [247]:
print(train_df.columns.values)

['PassengerId' 'Survived' 'Pclass' 'Name' 'Sex' 'Age' 'SibSp' 'Parch'
 'Ticket' 'Fare' 'Cabin' 'Embarked']

In [248]:
test_df.sample(6)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
221,1113,3,"Reynolds, Mr. Harold J",male,21.0,0,0,342684,8.0500,NaN,S
85,977,3,"Khalil, Mr. Betros",male,NaN,1,0,2660,14.4542,NaN,C
128,1020,2,"Bowenur, Mr. Solomon",male,42.0,0,0,211535,13.0000,NaN,S
9,901,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NaN,S
145,1037,3,"Vander Planke, Mr. Julius",male,31.0,3,0,345763,18.0000,NaN,S
323,1215,1,"Rowe, Mr. Alfred G",male,33.0,0,0,113790,26.5500,NaN,S

In [249]:
train_df = train_df.drop(['Ticket', 'Cabin','Name', 'Sex', 'Embarked'], axis=1)
test_df = test_df.drop(['Ticket', 'Cabin','Name', 'Sex', 'Embarked'], axis=1)
combine = [train_df, test_df]

In [250]:
averageAge=train_df.Age.mean()
train_df.Age=train_df.Age.fillna(value=averageAge)

averageAge=test_df.Age.mean()
test_df.Age=test_df.Age.fillna(value=averageAge)

In [251]:
averageFare=train_df.Fare.mean()
train_df.Fare=train_df.Fare.fillna(value=averageFare)

averageFare=test_df.Fare.mean()
test_df.Fare=test_df.Fare.fillna(value=averageFare)

In [252]:
X_train = train_df.drop(["Survived","PassengerId"], axis=1)
Y_train = train_df["Survived"]
X_test  = test_df.drop("PassengerId", axis=1).copy()
X_train.shape, Y_train.shape, X_test.shape

((891, 5), (891L,), (418, 5))

In [253]:
test_df.sample(6)

     PassengerId  Pclass       Age  SibSp  Parch     Fare
101          993       2  27.00000      1      0  26.0000
365         1257       3  30.27259      1      9  69.5500
3            895       3  27.00000      0      0   8.6625
6            898       3  30.00000      0      0   7.6292
8            900       3  18.00000      0      0   7.2292
72           964       3  29.00000      0      0   7.9250

In [254]:
# Random Forest

random_forest = RandomForestClassifier(n_estimators=100)
random_forest.fit(X_train, Y_train)
Y_pred = random_forest.predict(X_test)
random_forest.score(X_train, Y_train)
acc_random_forest = round(random_forest.score(X_train, Y_train) * 100, 2)
acc_random_forest

95.62

In [255]:
submission = pd.DataFrame({
        "PassengerId": test_df["PassengerId"],
        "Survived": Y_pred
    })

submission.to_csv('submission.csv', index=False)